{{#> base}}
	{{#*inline "head"}}
		<title>Page not found - Charlotte Thomas</title>
		<meta property="og:title" content="Page not found">
	{{/inline}}
	{{#*inline "body"}}
		<h1>Sorry you got lost</h1>
		<p>:(</p>
	{{/inline}}
{{/base}}
