{% extends "base.html" %}

{% block body %}
<div id="wrapper">
	

	<!-- Header -->
	<header id="header">
		<a href="/" class="logo"><strong>Charlotte Thomas</strong></a>
	</header>



</div>
{{ super() }}

{% endblock body %}

{% block main %}
<!-- Main -->

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{page.title}}</h1>
		</header>
		{% if page.extra.image %}
		<span class="image main"><img src="/{{page.extra.image}}" alt="" /></span>
		{% endif %}

		{{ page.content | safe }}
	</div>
</section>

	{{ super() }}

{% endblock main %}
